<h2>Ajouter un fournisseur</h2>

<form class="form" method="post" action="/suppliers">
	<label>Nom
		<input type="text" name="name" required />
	</label>
	<label>Email de contact
		<input type="email" name="contact_email" />
	</label>
	<button class="btn" type="submit">Créer</button>
</form>


